{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
    <!-- meta description -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> BIOMED </title>

    <!-- link scripts -->
    <script src="{% static 'records/js/jquery.min.js' %}"></script>
    <script src="{% static 'records/js/bootstrap.min.js' %}"></script>

    <!-- link css -->
    <link href="{% static 'records/css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'records/css/sidebar.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'records/css/biomed.css' %}" type="text/css" rel="stylesheet">

    {% block head %} {% endblock %}
</head>
<!-- head -->

<body>

    <!-- header -->
    <div class="header">
        <!-- Top Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">

            <!-- container -->
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" 
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {# logo #}
                    <a class="navbar-brand" href="#">BioMed</a>
                </div>
                <!-- logo and toggler -->

                <!-- top right navbar collapsible -->
                <div id="navbar" class="collapse navbar-collapse">
                {% if request.session.logintype %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                        <a href="#">{{ request.session.logintype|upper }} </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"><i class="fa fa-fw fa-power-off"></i> LOG OUT</a>
                        </li>
                    </ul>
                {% endif %}
                </div>
                <!-- top right collapsible end -->

            </div>
            <!-- container end -->

        </nav>
    </div>
    <!-- header end -->

    <!-- row-offcanvas -->
    <div class="row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div id="sidebar" class="sidebar-offcanvas">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-stacked">
                    {% block sidebar %} {% endblock %}
                </ul>
            </div>
        </div>
        <!-- sidebar end -->

        <!-- main content -->
        <div id="main" class="">
            <div class="col-md-12">

                <!-- collapsible icon -->
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </button>
                </p>
                <!-- collapsible icon -->

                <div class="row">
                    <div class="col-md-4">
                        {% block content %} {% endblock %}
                    </div>
                </div>

            </div>
        </div>
        <!-- main content -->

    </div>
    <!-- row-offcanvas -->



     <footer class="footer">
        <div class="container">
            <p class="text-muted">@BIOMED</p>
        </div>
    </footer>

    {% block footer %} {% endblock %}

    <script>
        $(document).ready(function() 
        {
            $('[data-toggle=offcanvas]').click(function() 
            {
                $('.row-offcanvas').toggleClass('active');
            });
        });
    </script>
</body>

</html>








