{% extends 'records/improvedUI/base.html' %}

{% block sidebar %}

<li class="active">
     <a href="{% url 'reception' %}">Home</a>
</li>

<li>
     <a href="#">Reception Staff</a>
</li>

{% endblock %}

{% block content %}
    <h1> Reception </h1>

    <!-- form shit -->
    <form action="{% url 'reception' %}" method="post">
    {% csrf_token %}

    </form>

{% endblock %}

{% block footer %}

<script>
    function load()
    {
    } 
    $(document).ready( function()
    {
        load();
    });
</script>

{% endblock %}
