{% load staticfiles %}

<!DOCTYPE html>


<html>

<head>
    <title>{{ testtype }} </title>
</head>

<body>
    <h1> Test Type </h1>
    <h2> {{ testtype }} </h2> 

    numeric fields
    <div id="numeric">
            {% for field in fields_numeric %}
            <div id = "{{ field }}" onClick="selectionNumeric(this.id, '{{field.maleRange}}', '{{field.femaleRange}}', '{{field.childRange}}')">
                <button type="button" > {{ field }} -- {{ field.category }} </button>
            </div>
            {% endfor %}
    </div>
   
    <br/>
    boolean fields
    <div id="boolean">
            {% for field in fields_boolean %}
            <div id = "{{ field }}" onClick="selectionBoolean(this.id)">
                <button type="button" > {{ field }} -- {{ field.category }}</button>
            </div>
            {% endfor %}
        </ul>
    </div>
   
    <h2>selected fields </h2>
    <form action = "{% url 'labtest' %}" method="post">
    {% csrf_token %}
        <input type="hidden" name="testtype" value="{{testtype}}"/>
        <div id="selected">
        </div>
        <input type="submit" value="Submit"/>
    </form>

</body>

    <script src="{% static 'records/js/labtest.js' %}"></script>
    
</html>
