{% extends 'records/base.html' %}

{% block selectionbar %}
<li class="active">
     <a href="{% url 'reception' %}"><i class="fa fa-fw fa-hospital-o"></i> Reception Staff</a>
</li>

<li>
     <a href="{% url 'lab' %}"><i class="fa fa-fw fa-flask"></i> Lab Staff</a>
</li>

<li>
    <a href="{% url 'report' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Report</a>
</li>

 {% endblock %}

{% block content %}
<script>
    window.onload = function() { load() };
</script>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Reception  <small>Patient's Info</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li>
                                <i class="fa fa-edit"></i> Reception
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> New Patient
                            </li>
                        </ol>
                    </div>
                </div><!--end breadcrumb-->

                <form action="{% url 'reception' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2">
                    {% if error %}
                        <p class="text-danger">{{error}}</p>
                    {% endif %}

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>
                                        Patient Details
                                    </h2>
                                </div>
                    {# for selection of new and existing patient #}
                    <div class="row">
                        <div class="col-md-6">
                            <p> New Patient
                                <input type="radio" name="new_patient" value="1" onclick="hide('existing_patient')"/>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p> Existing Patient
                                <input type="radio" name="new_patient" value="0" onclick="hide('new_patient')"/>
                            </p>
                        </div>
                    </div>
                    {# end selection #}

                            <div class="panel-body patient_data" id="new_patient">
                                <div class="form-group">
                                    <label for="{{ newPatientForm.name.id_for_label }}">{{newPatientForm.name.name|title}}</label>
                                    <input class="form-control" placeholder="Name" name="{{newPatientForm.name.name}}">
                                </div>
                            
                                <div class="form-group">
                                    <label>Sex</label>
                                    {{newPatientForm.sex }}
                                </div>

                                <div class="form-group">
                                    <label>{{newPatientForm.address.name|title}}</label>
                                    <input class="form-control" placeholder="Address" name="{{newPatientForm.address.name}}">
                                </div>

                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input class="form-control" placeholder="Contact Number" name="{{newPatientForm.contact.name}}">
                                </div>
                                <div class="form-group">
                                    <label>{{newPatientForm.age.name|title}}</label>
                                    <input class="form-control" placeholder="Age" type="number" name="{{newPatientForm.age.name}}">
                                </div>
                            </div>
                            </div>{# end panel body #}

                            <div class="panel panel-default patient_data" id="existing_patient">
                            <p>
                            Patient ID:
                            <input class="form-control" type="text" name="patient_id" />
                            </p>
                            </div>
                            <br>

                            <div class="panel panel-default patient_data" id="doc_and_test">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        Doctor information
                                    </h2>
                                </div>
                                <div class="panel-body">
                                     <div class="form-group">
                                        <label for="{{docAndTestForm.referred_by.id_label_for}}">Referred By</label>
                                    {{docAndTestForm.referred_by}}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{docAndTestForm.doctor_name.id_label_for}}">Doctor</label>
                                        <input type="text" class="form-control" name="{{docAndTestForm.doctor_name.name}}" />
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="{{docAndTestForm.hospital.id_label_for}}">Hospital</label>
                                        <input type="text" class="form-control" name="{{docAndTestForm.hospital.name}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Tests</h2>
                                </div>
                                <div class="panel-body">
                                {% for x in testtypes %}
                                    <div class="form-group">
                                        <div class="checkbox">
                                                <input type="checkbox" name="{{x.name}}"><label>{{x.name}}</label>
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                                        
                                <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
<script>
    function hide(id)
    {
        elements = document.getElementsByClassName('patient_data');
        for(x in elements)
        {
            if(elements[x].id==id)
                elements[x].style.display="none";
            else
                elements[x].style.display="block";
        }
    }
    function load()
    {
        elements = document.getElementsByClassName('patient_data');
        for(x in elements)
            elements[x].style.display="none";
    } 
</script>
{% endblock %}
