{% extends "records/base.html" %}

{% block selectionbar %}
<li>
     <a href="{% url 'reception' %}"><i class="fa fa-fw fa-hospital-o"></i> Reception </a>
</li>

<li class=>
     <a href="{% url 'lab' %}"><i class="fa fa-fw fa-flask"></i> Lab Staff</a>
</li>

<li class="active">
    <a href="{% url 'report' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Report</a>
</li>

{% endblock %}

{% block content %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5">
                        <form method="post" action="{%url 'report' %}">
                        {% csrf_token %}
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search for patients" name="search"/>
                            </div>
                            <div class="col-md-3">
                            <button type="submit" class="btn btn-primary btn-sm">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container-fluid">  
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ title }} <small>{{subtitle}}</small>
                        </h1>
                        <!--
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-flask"></i> Lab
                            </li>
                        </ol>
                        -->
                    </div>
                </div><!--end breadcrumb-->

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        {% if individual %}
                            <b> Recent Visits </b>
                        {% elif search %}
                            <b> Results by name </b>
                        {% else %}
                            <b> Nothing to show </b>
                        {% endif %}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example_wrapper">
                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <ul class="list-group"> <!-- list for visits or search results -->
                                         {% if individual %}
                                             {% for visit in visit_list %}
                                             <li class="list-group-item"><div id="visit_{{forloop.counter}}">
                                                 <a href="#" onclick="toggletests({{forloop.counter}});">{{ visit.date }}</a><br>
                                                 <div class="tests" id="tests_{{forloop.counter}}">
                                                     <ul class="list-group">
                                                         {% for tests in alltests %}
                                                             {% if forloop.parentloop.counter == forloop.counter %}
                                                                 {% for test in tests %}
                                                                 <li class="list-group-item"><a href="{% url 'report_detail'%}?testid={{test.id}}">{{test}} {# checking report out #}{% if not test.reportOut %} <span class="text-danger">report not out</span>{% endif %}</a></li>
                                                                 {% endfor %}
                                                             {% endif %}
                                                         {% endfor %}
                                                     </ul>
                                                 </div>
                                                </li>
                                             </div>
                                             {% endfor %}
                                        {% else %}
                                            {% if not patient_list and search %}
                                                <b class="text-danger"> no results to show!! </b>
                                            {% else %}
                                                {% for patient in patient_list %}
                                                    <li class="list-group-item">
                                                         <a href="{% url 'report'%}?patient={{patient.pk}}" >{{ patient }}</a><br>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                            </ul>

                                        </div>
                                    </div>
                            </div>
                            <!--/.data table-responsive-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
{% endblock %}

{% block js %}
<script>
    function toggletests(id)
    {
        var elem = document.getElementById("tests_"+id.toString());
        var attr= elem.style.display;
        if(attr=="none")
            elem.style.display = "block";
        else elem.style.display="none";
    }
    
    function load()
    {
        var elems = document.getElementsByClassName("tests");
        for (x in elems)
            elems[x].style.display="none";
    }
    load();

</script>
{% endblock %}
